html {
  font-size: 62.5%; }

body {
  padding: 0;
  box-sizing: border-box; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem; }

.heading-primary {
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  line-height: 1.1;
  font-size: 7rem; }
  .heading-primary--pink {
    font-weight: 300;
    color: #ce9797; }
  .heading-primary--dark {
    font-weight: 600;
    color: #413a3a; }

.home {
  display: flex; }
  .home__left-col {
    flex-basis: 65%;
    background-image: url(../img/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: center;
    height: 100vh; }
  .home__right-col {
    flex-basis: 45%;
    height: 100vh;
    background-image: url(../img/hero-desktop.jpg);
    background-size: cover; }
  .home__container {
    padding: 5rem 15rem; }
  .home__body {
    width: 80%; }
  .home__paragraph {
    color: #ce9797;
    font-size: 1.6rem;
    line-height: 1.5; }
  .home__input {
    width: 95%;
    border-radius: 5rem;
    padding: 1.5rem 2rem;
    border: 1px solid #ce9797;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem; }
    .home__input::placeholder {
      color: #ce9797;
      opacity: 0.6; }
    .home__input::-ms-input-placeholder {
      color: #ce9797;
      opacity: 0.6; }
    .home__input:-ms-input-placeholder {
      color: #ce9797;
      opacity: 0.6; }
  .home__form {
    position: relative; }
  .home__btn {
    border: none;
    padding: 1.2rem 3rem;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 5rem;
    font-size: 1.6rem;
    position: absolute;
    right: 1rem;
    background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
    box-shadow: 0 1.5rem 2rem rgba(206, 150, 150, 0.5); }
