// --------------- BASE STYLES -------------
html {
    font-size: 62.5%;
}
body {
    padding: 0;
    box-sizing: border-box;
}
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

// --------------- TYPOGRAPHY STYLES -------------

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
}

// --------------- HOME PAGE STYLES ---------------
.home {
    display: flex;
    &__left-col {
        flex-basis: 65%;
        background-image: url(../img/bg-pattern-desktop.svg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    &__right-col {
    }
}
