// --------------- BASE STYLES -------------
html {
    font-size: 62.5%;
}
body {
    padding: 0;
    box-sizing: border-box;
}
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

// --------------- TYPOGRAPHY STYLES -------------

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
}
.heading-primary {
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    line-height: 1.1;
    font-size: 7rem;
    &--pink {
        font-weight: 300;
        color: hsl(0, 36%, 70%);
    }
    &--dark {
        font-weight: 600;
        color: hsl(0, 6%, 24%);
    }
}

// --------------- HOME PAGE STYLES ---------------
.home {
    display: flex;

    &__left-col {
        flex-basis: 65%;
        background-image: url(../img/bg-pattern-desktop.svg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    &__right-col {
        flex-basis: 45%;
        height: 100vh;
        background-image: url(../img/hero-desktop.jpg);
        background-size: cover;
    }

    &__container {
        padding: 5rem 15rem;
    }
    &__logo-div {
    }
    &__section {
    }
    &__body {
        width: 80%;
    }

    &__paragraph {
        color: hsl(0, 36%, 70%);
        font-size: 1.6rem;
        line-height: 1.5;
    }
    &__input {
        width: 75%;
        border-radius: 5rem;
        padding: 1rem 2rem;
        border: 1px solid hsl(0, 36%, 70%);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.6rem;
        &::placeholder {
            color: hsl(0, 36%, 70%);
            opacity: 0.6;
        }
        &::-ms-input-placeholder {
            color: hsl(0, 36%, 70%);
            opacity: 0.6;
        }
        &:-ms-input-placeholder {
            color: hsl(0, 36%, 70%);
            opacity: 0.6;
        }
    }
    &__btn {
    }
}
