// --------------- BASE STYLES -------------
html {
    font-size: 62.5%;
}
body {
    padding: 0;
    box-sizing: border-box;
}
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

// --------------- TYPOGRAPHY STYLES -------------

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
}
.heading-primary {
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    line-height: 1.1;
    font-size: 7rem;
    &--pink {
        font-weight: 300;
        color: hsl(0, 36%, 70%);
    }
    &--dark {
        font-weight: 600;
        color: hsl(0, 6%, 24%);
    }
}

// --------------- HOME PAGE STYLES ---------------
.home {
    display: flex;
    &__left-col {
        flex-basis: 65%;
        background-image: url(../img/bg-pattern-desktop.svg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    &__right-col {
        flex-basis: 45%;
        height: 100vh;
        background-image: url(../img/hero-desktop.jpg);
        background-size: cover;
    }
    &__container {
        padding: 5rem 15rem;
    }
    &__body {
    }
    &__logo-div {
    }
    &__paragraph {
        color: hsl(0, 36%, 70%);
        font-size: 1.6rem;
        line-height: 1.5;
        padding: 0 2rem 0 0;
    }
}
